a {
    color: #0088cc;
}

a:hover {
    text-decoration: none;
    color: #005580;
    background-color: transparent;
}

a#username {
    cursor: pointer;
    color: #0088cc;
    padding-left: 0px;
    padding-right: 0px;
    display :inline-block;
}

ul.nav li {
    color: #999;
}

#main {
  width: 784px;
  margin-left: 0px;
}


#sidebar {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 0px;
}

/*form.centerform {
    width: 220px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -110px;
}*/
