a {
    color: #0088cc;
}

a:hover {
    text-decoration: none;
    color: #005580;
    background-color: transparent;
}

a#username {
    cursor: pointer;
    color: #0088cc;
    padding-left: 0px;
    padding-right: 0px;
    display :inline-block;
}

ul.nav li {
    color: #999;
}

#main {
  width: 824px;
  margin-left: 35px;
}


#sidebar {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 0px;
}

.sidebar_box {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

.sidebar_box_header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: #999;
  font-size: 15px;
  margin-bottom: 5px;
}

.input-append {
    margin-bottom: 0px;
}

.weiboshare {
  padding-top: 12px; 
}

.alert {
  width: 90%;
}

.sidebar_box textarea {
  margin-bottom: 4px;
}
/*form.centerform {
    width: 220px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -110px;
}*/
