a {
    color: #0088cc;
}

a:hover {
    text-decoration: none;
    color: #005580;
    background-color: transparent;
}

a#username {
    cursor: pointer;
    color: #0088cc;
    padding-left: 0px;
    padding-right: 0px;
    display :inline-block;
}

ul.nav li {
    color: #999;
}