// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie_box{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  margin: 1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.movie_box:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.movie_box:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.movie_box:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.movie_box:hover, .movie_box:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.movie_box > * {
    margin-top: 10px;
    margin-left: 10px;
}

.movie_box ul {
    list-style: none;
    display: block;
}

.movie_box ul li {
    font-size: 10px;
    display: inline;
}

#main > div {
    border-radius: 10px;
}

.pagination {
    clear: both;
}

#movie_list {
    margin-left: 35px;
}

#movie_info {
    display: inline-block;
    width: 220px;
    position: relative;
    left: 30px;
}

#movie_info h4 span {
    color: #0088cc;
}

#movie_info ul {
    list-style: none;
}

iframe, div[id^="Bd"] {
    float: left;
    display: inline-block;
}

.notify_install_bdhd {
    display: inline-block;
    float: left;
    width: 800px;
    height: 550px;
}