<div id="sidebar" class="span3 pull-right">
    <div class="sidebar_box">
        <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text">
            <button id="search" class="btn" type="button">搜搜看</button>
        </div>
    </div>
    <div class="sidebar_box">
        <div class="sidebar_box_header"> 
            关于本站
        </div>
        本站光荣的采用<a href="http://rubyonrails.org/">Rails</a> + <a href="twitter.github.com/bootstrap/">Bootstrap</a> + <a href="http://jquery.org/">jQuery</a>搭建，感谢<a href="http://www.cloudfoundry.com">CloudFoundry</a>提供免费部署平台。所有数据均来自互联网。网站程序已开源在<a href="https://github.com/loveky/baidu_movie">Github</a>。
        <br>
        <br>
        使用本站过程中如有任何问题，请猛击<a href="https://github.com/loveky/baidu_movie/issues/new">这里</a>提交issue。
    </div>
    <div class="sidebar_box">
        <div class="sidebar_box_header"> 
            影片分类
        </div>
        <div>
            <% Movie.pluck(:category).uniq.each do |category| %>
                <%= link_to category, category_path(category_name: category) %>
            <% end %>
        </div>
    </div>
</div> 